<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Strony</h5>
                    <div class="ibox-tools">
                        <a href="/Website/AddWebsite" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Zdefiniuj nową stronę</a>
                        <a id="websiteEditorBtn" class="btn btn-primary" disabled><i class="fa fa-pencil" aria-hidden="true"></i> Konfiguruj stronę</a>
                        <a id="showWebsiteBtn" class="btn btn-primary" disabled><i class="fa fa-pencil" aria-hidden="true"></i> Wyświetl stronę</a>
                        <form method="post" action="/Website/GenereteWebsiteToHtml" >
                            <input type="hidden" value="" id="selectedWebsite" name="websiteId"/>
                            <button type="submit" id="exportWebsiteToHtmlFileBtn" class="btn btn-primary" disabled><i class="fa fa-pencil" aria-hidden="true"></i>Eksportuj do pliku</button>
                        </form>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table id="website-table" class="table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>Id strony</th>
                                    <th>Nazwa</th>
                                    <th>Data dodania</th>
                                    <th>Data edycji</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/ScriptsApp/Website/Index.js"></script>
}
